<h1>Editing Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>
<br>
<%= link_to 'Show', admin_restaurant_path(@restaurant), {class: "btn btn-primary"} %> |
<%= link_to 'Back', admin_restaurants_path, {class: "btn btn-primary"} %>


