<h1>Editing Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>

<%= link_to 'Show', @restaurant, {class: "btn btn-primary"} %> |
<%= link_to 'Back', restaurants_path, {class: "btn btn-primary"} %>
